* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--main-bg);
}

header {
    padding: var(--padding-normal);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    margin: 0 auto;
}

nav {
    padding: var(--padding-normal);
}

ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    margin-right: var(--margin-normal);
}   

li {
    list-style: none;
}

a {
    color: var(--dark-color );
    text-decoration: none;
    font-weight: var(--font-weight-normal);
    font-size: 1.5rem;
    outline: none;
}

a:hover {
    font-weight: 500;
    color:  var(--dark-color);
    transition: all ease-in .2s;
}

.get-started {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    margin-inline: var(--margin-section);
}

.main-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-normal);
}

h1 {
    font-size: var(--headings);
    margin-bottom: 4rem;
    font-weight: 300;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--dark-color);
}

p {
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
    font-size: var(--paragraphs);
    max-width: 80vw;
    color: var(--dark-color);
}

.main-overview {
    border-radius: 2px;     
    /* max-width: 50vw; */
    max-width: 100%;
}

.main-overview img {
    width: 100%;
    height: 100%;
}

.overview-images {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.overview-images img {
    max-width: 100%;
    height: auto;
}